<h3>Data Prepration</h3>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
pd

In [3]:
np

In [9]:
data = 'Link'

In [7]:
!wget $data

--2025-10-05 03:58:52--  https://www.kaggle.com/api/v1/datasets/download/blastchar/telco-customer-churn
Resolving www.kaggle.com (www.kaggle.com)... 35.244.233.98
Connecting to www.kaggle.com (www.kaggle.com)|35.244.233.98|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://storage.googleapis.com:443/kaggle-data-sets/13996/18858/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20251005%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20251005T035853Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=353ce54d21580ecddf32cf717d7e8eb386cc5fec339fbb438d42f87444b42e6fef1efa6df24dc462c0d9e65befbfc9613bc6d6b11c09756c1fc35a852c2d70acf7f99b6b632589402d264a381923fe8312df86f02d40e44c40c74ace9174196a831236787528e586b9510f599690c7c90a9592b1fd7da5ef3f08d5d9c3833abe830bf338c8149ee499140afda1ff89c1cec2f6a50c9bb2a8a994c7a9d8c9ab191558942414247135a1c66b28ca0f22ed5cf75c960b611e49f2765565b8291a93329edfed50de804f2e8a07a2b38693acc131e98c2b50544e03ce0a843501ff38ecb2b0b44f26775afa6c9c1aa8862dc357c1dca378335e80a842ecdd4c70c3d0 [following]
--2025-10-05 03:58:53--  https://storage.googleapis.com/kaggle-data-sets/13996/18858/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20251005%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20251005T035853Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=353ce54d21580ecddf32cf717d7e8eb386cc5fec339fbb438d42f87444b42e6fef1efa6df24dc462c0d9e65befbfc9613bc6d6b11c09756c1fc35a852c2d70acf7f99b6b632589402d264a381923fe8312df86f02d40e44c40c74ace9174196a831236787528e586b9510f599690c7c90a9592b1fd7da5ef3f08d5d9c3833abe830bf338c8149ee499140afda1ff89c1cec2f6a50c9bb2a8a994c7a9d8c9ab191558942414247135a1c66b28ca0f22ed5cf75c960b611e49f2765565b8291a93329edfed50de804f2e8a07a2b38693acc131e98c2b50544e03ce0a843501ff38ecb2b0b44f26775afa6c9c1aa8862dc357c1dca378335e80a842ecdd4c70c3d0
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.217.155, 172.217.12.155, 142.250.68.59, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.217.155|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175758 (172K) [application/zip]
Saving to: ‘telco-customer-churn’

telco-customer-chur 100%[===================>] 171.64K  --.-KB/s    in 0.03s

2025-10-05 03:58:53 (5.48 MB/s) - ‘telco-customer-churn’ saved [175758/175758]

In [117]:
df = pd.read_csv('data.csv')

In [118]:
# Transpose the Dataframe to see all cloumns of the Dataframe
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [119]:
# Data prepration changing all cloumns and values to standard form
df.columns = df.columns.str.lower().str.replace(' ','_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
for col in categorical_columns:
    df[col] = df[col].str.lower().str.replace(' ','_')

In [120]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [121]:
df.dtypes
# The total charges is object but it have to be number

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [122]:
# Changing the 'totalcharges' column to number
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')
# The error part is because of the null values that filled with '_' in previous step so we have to ignore them

In [123]:
df.totalcharges.isnull().sum()

np.int64(11)

In [124]:
# Filling the missing values with '0'
df.totalcharges = df.totalcharges.fillna(0)

In [125]:
df.totalcharges.isnull().sum()

np.int64(0)

In [126]:
# We have to turn the churn column to '0' or '1' instead of 'yes' or 'no' for understanding of the model
df.churn = (df.churn == 'yes').astype(int)

In [127]:
df.churn

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int64

<h3>Setup the validation framework</h3>
<h5>Working with 'scikit'</h5>

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
# See the documents
train_test_split?

Signature:
train_test_split(
    *arrays,
    test_size=None,
    train_size=None,
    random_state=None,
    shuffle=True,
    stratify=None,
)
Docstring:
Split arrays or matrices into random train and test subsets.

Quick utility that wraps input validation,
``next(ShuffleSplit().split(X, y))``, and application to input data
into a single call for splitting (and optionally subsampling) data into a
one-liner.

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
*arrays : sequence of indexables with same length / shape[0]
    Allowed inputs are lists, numpy arrays, scipy-sparse
    matrices or pandas dataframes.

test_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the proportion
    of the dataset to include in the test split. If int, represents the
    absolute number of test samples. If None, the value is set to the
    complement of the train size. If ``train_size`` is also None, it will
    be set to 0.25.

train_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the
    proportion of the dataset to include in the train split. If
    int, represents the absolute number of train samples. If None,
    the value is automatically set to the complement of the test size.

random_state : int, RandomState instance or None, default=None
    Controls the shuffling applied to the data before applying the split.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

shuffle : bool, default=True
    Whether or not to shuffle the data before splitting. If shuffle=False
    then stratify must be None.

stratify : array-like, default=None
    If not None, data is split in a stratified fashion, using this as
    the class labels.
    Read more in the :ref:`User Guide <stratification>`.

Returns
-------
splitting : list, length=2 * len(arrays)
    List containing train-test split of inputs.

    .. versionadded:: 0.16
        If the input is sparse, the output will be a
        ``scipy.sparse.csr_matrix``. Else, output type is the same as the
        input type.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import train_test_split
>>> X, y = np.arange(10).reshape((5, 2)), range(5)
>>> X
array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])
>>> list(y)
[0, 1, 2, 3, 4]

>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
...
>>> X_train
array([[4, 5],
       [0, 1],
       [6, 7]])
>>> y_train
[2, 0, 3]
>>> X_test
array([[2, 3],
       [8, 9]])
>>> y_test
[1, 4]

>>> train_test_split(y, shuffle=False)
[[0, 1, 2], [3, 4]]

>>> from sklearn import datasets
>>> iris = datasets.load_iris(as_frame=True)
>>> X, y = iris['data'], iris['target']
>>> X.head()
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
>>> y.head()
0    0
1    0
2    0
3    0
4    0
...

>>> X_train, X_test, y_train, y_test = train_test_split(
... X, y, test_size=0.33, random_state=42)
...
>>> X_train.head()
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
96                 5.7               2.9                4.2               1.3
105                7.6               3.0                6.6               2.1
66                 5.6               3.0                4.5               1.5
0                  5.1               3.5                1.4               0.2
122                7.7               2.8                6.7               2.0
>>> y_train.head()
96     1
105    2
66     1
0      0
122    2
...
>>> X_test.head()
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
73                 6.1               2.8                4.7               1.2
18                 5.7               3.8                1.7               0.3
118                7.7               2.6                6.9               2.3
78                 6.0               2.9                4.5               1.5
76                 6.8               2.8                4.8               1.4
>>> y_test.head()
73     1
18     0
118    2
78     1
76     1
...
File:      ~/.local/lib/python3.12/site-packages/sklearn/model_selection/_split.py
Type:      function

In [130]:
# Split the Dataframe into 80% train Dataframe and 20% test Dataframe
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [131]:
len(df_full_train), len(df_test)

(5634, 1409)

In [132]:
# Split the full train part to 'train' and 'validation' Dataframes
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [133]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [134]:
# After the shuffle in previous steps we have to reset the index of the Dataframes
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [135]:
# Making the 'y' of the Dataframes
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [136]:
# Removing churn from the Dataframes
del df_train['churn']
del df_val['churn']
del df_test['churn']