<h3>Data Prepration</h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
pd

In [3]:
np

In [4]:
data = 'Link'

In [7]:
!wget $data

--2025-10-05 03:58:52--  https://www.kaggle.com/api/v1/datasets/download/blastchar/telco-customer-churn
Resolving www.kaggle.com (www.kaggle.com)... 35.244.233.98
Connecting to www.kaggle.com (www.kaggle.com)|35.244.233.98|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://storage.googleapis.com:443/kaggle-data-sets/13996/18858/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20251005%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20251005T035853Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=353ce54d21580ecddf32cf717d7e8eb386cc5fec339fbb438d42f87444b42e6fef1efa6df24dc462c0d9e65befbfc9613bc6d6b11c09756c1fc35a852c2d70acf7f99b6b632589402d264a381923fe8312df86f02d40e44c40c74ace9174196a831236787528e586b9510f599690c7c90a9592b1fd7da5ef3f08d5d9c3833abe830bf338c8149ee499140afda1ff89c1cec2f6a50c9bb2a8a994c7a9d8c9ab191558942414247135a1c66b28ca0f22ed5cf75c960b611e49f2765565b8291a93329edfed50de804f2e8a07a2b38693acc131e98c2b50544e03ce0a843501ff38ecb2b0b44f26775afa6c9c1aa8862dc357c1dca378335e80a842ecdd4c70c3d0 [following]
--2025-10-05 03:58:53--  https://storage.googleapis.com/kaggle-data-sets/13996/18858/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20251005%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20251005T035853Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=353ce54d21580ecddf32cf717d7e8eb386cc5fec339fbb438d42f87444b42e6fef1efa6df24dc462c0d9e65befbfc9613bc6d6b11c09756c1fc35a852c2d70acf7f99b6b632589402d264a381923fe8312df86f02d40e44c40c74ace9174196a831236787528e586b9510f599690c7c90a9592b1fd7da5ef3f08d5d9c3833abe830bf338c8149ee499140afda1ff89c1cec2f6a50c9bb2a8a994c7a9d8c9ab191558942414247135a1c66b28ca0f22ed5cf75c960b611e49f2765565b8291a93329edfed50de804f2e8a07a2b38693acc131e98c2b50544e03ce0a843501ff38ecb2b0b44f26775afa6c9c1aa8862dc357c1dca378335e80a842ecdd4c70c3d0
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.217.155, 172.217.12.155, 142.250.68.59, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.217.155|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175758 (172K) [application/zip]
Saving to: ‘telco-customer-churn’

telco-customer-chur 100%[===================>] 171.64K  --.-KB/s    in 0.03s

2025-10-05 03:58:53 (5.48 MB/s) - ‘telco-customer-churn’ saved [175758/175758]

In [5]:
df = pd.read_csv('data.csv')

In [6]:
# Transpose the Dataframe to see all cloumns of the Dataframe
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [7]:
# Data prepration changing all cloumns and values to standard form
df.columns = df.columns.str.lower().str.replace(' ','_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
for col in categorical_columns:
    df[col] = df[col].str.lower().str.replace(' ','_')

In [8]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [9]:
df.dtypes
# The total charges is object but it have to be number

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [10]:
# Changing the 'totalcharges' column to number
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')
# The error part is because of the null values that filled with '_' in previous step so we have to ignore them

In [11]:
df.totalcharges.isnull().sum()

np.int64(11)

In [12]:
# Filling the missing values with '0'
df.totalcharges = df.totalcharges.fillna(0)

In [13]:
df.totalcharges.isnull().sum()

np.int64(0)

In [14]:
# We have to turn the churn column to '0' or '1' instead of 'yes' or 'no' for understanding of the model
df.churn = (df.churn == 'yes').astype(int)

In [15]:
df.churn

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int64

<h3>Setup the validation framework</h3>
<h5>Working with 'scikit'</h5>

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
# See the documents
train_test_split?

Signature:
train_test_split(
    *arrays,
    test_size=None,
    train_size=None,
    random_state=None,
    shuffle=True,
    stratify=None,
)
Docstring:
Split arrays or matrices into random train and test subsets.

Quick utility that wraps input validation,
``next(ShuffleSplit().split(X, y))``, and application to input data
into a single call for splitting (and optionally subsampling) data into a
one-liner.

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
*arrays : sequence of indexables with same length / shape[0]
    Allowed inputs are lists, numpy arrays, scipy-sparse
    matrices or pandas dataframes.

test_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the proportion
    of the dataset to include in the test split. If int, represents the
    absolute number of test samples. If None, the value is set to the
    complement of the train size. If ``train_size`` is also None, it will
    be set to 0.25.

train_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the
    proportion of the dataset to include in the train split. If
    int, represents the absolute number of train samples. If None,
    the value is automatically set to the complement of the test size.

random_state : int, RandomState instance or None, default=None
    Controls the shuffling applied to the data before applying the split.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

shuffle : bool, default=True
    Whether or not to shuffle the data before splitting. If shuffle=False
    then stratify must be None.

stratify : array-like, default=None
    If not None, data is split in a stratified fashion, using this as
    the class labels.
    Read more in the :ref:`User Guide <stratification>`.

Returns
-------
splitting : list, length=2 * len(arrays)
    List containing train-test split of inputs.

    .. versionadded:: 0.16
        If the input is sparse, the output will be a
        ``scipy.sparse.csr_matrix``. Else, output type is the same as the
        input type.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import train_test_split
>>> X, y = np.arange(10).reshape((5, 2)), range(5)
>>> X
array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])
>>> list(y)
[0, 1, 2, 3, 4]

>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
...
>>> X_train
array([[4, 5],
       [0, 1],
       [6, 7]])
>>> y_train
[2, 0, 3]
>>> X_test
array([[2, 3],
       [8, 9]])
>>> y_test
[1, 4]

>>> train_test_split(y, shuffle=False)
[[0, 1, 2], [3, 4]]

>>> from sklearn import datasets
>>> iris = datasets.load_iris(as_frame=True)
>>> X, y = iris['data'], iris['target']
>>> X.head()
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
>>> y.head()
0    0
1    0
2    0
3    0
4    0
...

>>> X_train, X_test, y_train, y_test = train_test_split(
... X, y, test_size=0.33, random_state=42)
...
>>> X_train.head()
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
96                 5.7               2.9                4.2               1.3
105                7.6               3.0                6.6               2.1
66                 5.6               3.0                4.5               1.5
0                  5.1               3.5                1.4               0.2
122                7.7               2.8                6.7               2.0
>>> y_train.head()
96     1
105    2
66     1
0      0
122    2
...
>>> X_test.head()
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
73                 6.1               2.8                4.7               1.2
18                 5.7               3.8                1.7               0.3
118                7.7               2.6                6.9               2.3
78                 6.0               2.9                4.5               1.5
76                 6.8               2.8                4.8               1.4
>>> y_test.head()
73     1
18     0
118    2
78     1
76     1
...
File:      ~/.local/lib/python3.12/site-packages/sklearn/model_selection/_split.py
Type:      function

In [18]:
# Split the Dataframe into 80% train Dataframe and 20% test Dataframe
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [19]:
len(df_full_train), len(df_test)

(5634, 1409)

In [20]:
# Split the full train part to 'train' and 'validation' Dataframes
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [21]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [22]:
# After the shuffle in previous steps we have to reset the index of the Dataframes
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [23]:
# Making the 'y' of the Dataframes
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [24]:
# Removing churn from the Dataframes
del df_train['churn']
del df_val['churn']
del df_test['churn']

<h3>EDA</h3>

In [25]:
df_full_train = df_full_train.reset_index(drop=True)

In [26]:
# Checking for anu null values
df_full_train.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [27]:
# This functon calculate number of any values in any column
df_full_train.churn.value_counts(normalize=True)

churn
0    0.730032
1    0.269968
Name: proportion, dtype: float64

<p>The '1' percentage is called the churn rate</p>

In [28]:
global_churn_rate = df_full_train.churn.mean()
global_churn_rate

np.float64(0.26996805111821087)

In [29]:
df_full_train.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

<h5>The 'seniorcitizen' field that shows its type is 'int64' is wrong and it's a object</h5>

In [30]:
numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [102]:
categorical =['gender', 'seniorcitizen', 'partner', 'dependents',
       'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [32]:
df_full_train[categorical].nunique()
# Columns with 2 unique types are binary

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
churn               2
dtype: int64

<h4>Feature Importance</h4>

In [33]:
churn_female = df_full_train[df_full_train.gender == 'female'].churn.mean()

<p>Churn rate for female cusstomers</p>

In [34]:
churn_male = df_full_train[df_full_train.gender == 'male'].churn.mean()

In [35]:
print(churn_female)
print(churn_male)
print(global_churn_rate)

0.27682403433476394
0.2632135306553911
0.26996805111821087

In [36]:
df_full_train.partner.value_counts()

partner
no     2932
yes    2702
Name: count, dtype: int64

In [37]:
df_full_train[df_full_train.partner == 'yes'].churn.mean()

np.float64(0.20503330866025166)

In [38]:
churn_no_partner = df_full_train[df_full_train.partner == 'no'].churn.mean()

In [39]:
churn_partner = df_full_train[df_full_train.partner == 'yes'].churn.mean()

In [40]:
print(churn_no_partner)
print(churn_partner)
print(global_churn_rate)

0.3298090040927694
0.20503330866025166
0.26996805111821087

In [41]:
print(global_churn_rate - churn_female)
print(global_churn_rate - churn_male)
print(global_churn_rate - churn_no_partner)
print(global_churn_rate - churn_partner)

-0.006855983216553063
0.006754520462819769
-0.05984095297455855
0.06493474245795922

<p>The bigger the number is it has more impact on the churn rate of the customer</p>

<h4>Risk ratio</h4>

In [42]:
churn_no_partner / global_churn_rate

np.float64(1.2216593879412643)

<p>Customer with no partner has higher ratio of churn</p>

In [43]:
churn_partner / global_churn_rate

np.float64(0.7594724924338315)

    SELECT
        gender,
        AVG(churn),
        AVG(churn) - global_churn AS diff,
        AVG(churn) / global_churn AS risk
    FROM
        date
    GROUP BY
        gender;

In [44]:
df_full_train.groupby('gender').churn.mean()

gender
female    0.276824
male      0.263214
Name: churn, dtype: float64

In [45]:
from IPython.display import display

In [46]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_churn_rate
    df_group['risk'] = df_group['mean'] / global_churn_rate
    display(df_group)
    print()
    print()

gender

            mean  count      diff      risk
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027698  0.897403
1              0.413377    912  0.143409  1.531208

partner

             mean  count      diff      risk
partner
no       0.329809   2932  0.059841  1.221659
yes      0.205033   2702 -0.064935  0.759472

dependents

                mean  count      diff      risk
dependents
no          0.313760   3968  0.043792  1.162212
yes         0.165666   1666 -0.104302  0.613651

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028652  0.893870
yes           0.273049   5087  0.003081  1.011412

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012561  0.953474
no_phone_service  0.241316    547 -0.028652  0.893870
yes               0.290742   2387  0.020773  1.076948

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077621  0.712482
fiber_optic      0.425171   2479  0.155203  1.574895
no               0.077805   1221 -0.192163  0.288201

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150953  1.559152
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.153226   1612 -0.116742  0.567570

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134355  1.497672
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.217232   1915 -0.052736  0.804660

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125907  1.466379
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.230412   1940 -0.039556  0.853480

techsupport

                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148946  1.551717
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.159926   1632 -0.110042  0.592390

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072864  1.269897
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.302723   2167  0.032755  1.121328

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068938  1.255358
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.307273   2200  0.037305  1.138182

contract

                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161733  1.599082
one_year        0.120573   1186 -0.149395  0.446621
two_year        0.028274   1344 -0.241694  0.104730

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097897  0.637375
yes               0.338151   3321  0.068183  1.252560

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101797  0.622928
credit_card_(automatic)    0.164339   1217 -0.105630  0.608733
electronic_check           0.455890   1893  0.185922  1.688682
mailed_check               0.193870   1305 -0.076098  0.718121

churn

       mean  count      diff      risk
churn
0       0.0   4113 -0.269968  0.000000
1       1.0   1521  0.730032  3.704142

<h4>Mutual Information</h4>

In [47]:
from sklearn.metrics import mutual_info_score

In [48]:
mutual_info_score(df_full_train.churn,df_full_train.contract)

0.0983203874041556

In [49]:
mutual_info_score(df_full_train.contract,df_full_train.churn)
# Order of variable is not important at this function

0.0983203874041556

<h4>The mutual information has complicated formula but it is calculating how much two variable depends to eachother</h4>

In [50]:
mutual_info_score(df_full_train.gender,df_full_train.churn)

0.0001174846211139946

In [51]:
mutual_info_score(df_full_train.partner,df_full_train.churn)

0.009967689095399745

<h5>The bigger result shows the feature is more important</h5>

https://en.wikipedia.org/wiki/Mutual_information

In [52]:
# Building an function to calculate the mutual inforamtion score of every feature
def mutual_info_churn_score(series):
    return mutual_info_score(series,df_full_train.churn)

In [53]:
mi = df_full_train[categorical].apply(mutual_info_churn_score)

In [54]:
mi.sort_values(ascending=False)

churn               0.583227
contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64

<h3>Feature Importance:Correlation</h3>

https://en.wikipedia.org/wiki/Pearson_correlation_coefficient

In [55]:
df_full_train.tenure.max()

np.int64(72)

In [56]:
df_full_train[numerical].corrwith(df_full_train.churn)

tenure           -0.351885
monthlycharges    0.196805
totalcharges     -0.196353
dtype: float64

<p>
    It means increase of the 'tenure' decrase the churn rate
    And the sama with the 'totalcharges'
    Moreover the more 'monthlycharges' go the churn rate is going up to
</p>

In [57]:
df_full_train[df_full_train.tenure <= 2].churn.mean()

np.float64(0.5953420669577875)

In [58]:
df_full_train[df_full_train.tenure > 2].churn.mean()

np.float64(0.22478269658378816)

In [59]:
df_full_train[(df_full_train.tenure > 2) & (df_full_train.tenure < 12)].churn.mean()

np.float64(0.4059003051881994)

In [60]:
df_full_train[df_full_train.tenure > 12].churn.mean()

np.float64(0.17634908339788277)

<p>The tenure more than 12 months has a great impact on churn rate</p>

In [61]:
df_full_train[df_full_train.monthlycharges <= 20].churn.mean()

np.float64(0.08795411089866156)

In [62]:
df_full_train[df_full_train.monthlycharges > 20].churn.mean()

np.float64(0.28859323028761497)

In [63]:
df_full_train[(df_full_train.monthlycharges > 20) & (df_full_train.monthlycharges < 50)].churn.mean()

np.float64(0.1836890243902439)

In [64]:
df_full_train[df_full_train.monthlycharges > 50].churn.mean()

np.float64(0.32499341585462205)

<p>It means growing 'monthlycarges' decreases the churn rate</p>

<h3>On-hot encoding</h3>

In [120]:
from sklearn.feature_extraction import DictVectorizer

In [121]:
df_train[['gender','contract', 'tenure']].iloc[:10]

   gender        contract  tenure
0  female        two_year      72
1    male  month-to-month      10
2  female  month-to-month       5
3  female  month-to-month       5
4  female        two_year      18
5    male  month-to-month       4
6    male  month-to-month       1
7  female  month-to-month       1
8  female        two_year      72
9  female  month-to-month       6

In [122]:
# Trun Dataframe data into dictioneries
df_train[['gender','contract','tenure']].iloc[:100].to_dict(orient='records')

[{'gender': 'female', 'contract': 'two_year', 'tenure': 72},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 10},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 5},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 5},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 18},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 4},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 72},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 6},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 72},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 17},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 66},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 2},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 4},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 3},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 71},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 32},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 53},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 56},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 61},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 41},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 3},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 3},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 12},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 41},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 47},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 2},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 66},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 8},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 35},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 67},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 46},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 37},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 72},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 35},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 43},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 20},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 64},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 6},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 9},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 18},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 46},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 9},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 69},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 32},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 67},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 69},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 6},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 30},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 30},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 58},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 18},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 34},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 2},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 10},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 71},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 72},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 46},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 49},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 65},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 15},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 58},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 66},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 66},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 68},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 45},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 11},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 18},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 71},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 4},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 13},
 {'gender': 'female', 'contract': 'two_year', 'tenure': 50},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 12},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 7},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 71},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 21},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 12},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 1},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 33},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 46},
 {'gender': 'female', 'contract': 'one_year', 'tenure': 44},
 {'gender': 'male', 'contract': 'two_year', 'tenure': 70},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 7},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 18},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 54},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 35},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 5},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 35},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 39},
 {'gender': 'female', 'contract': 'month-to-month', 'tenure': 19},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 21},
 {'gender': 'male', 'contract': 'one_year', 'tenure': 43},
 {'gender': 'male', 'contract': 'month-to-month', 'tenure': 19}]

In [123]:
train_dicts = df_train[categorical + numerical].to_dict(orient='records')

In [124]:
dv = DictVectorizer(sparse=False)

In [125]:
dv.fit(train_dicts)

DictVectorizer(sparse=False)

In [126]:
dv.get_feature_names_out(train_dicts)

array(['contract=month-to-month', 'contract=one_year',
       'contract=two_year', 'dependents=no', 'dependents=yes',
       'deviceprotection=no', 'deviceprotection=no_internet_service',
       'deviceprotection=yes', 'gender=female', 'gender=male',
       'internetservice=dsl', 'internetservice=fiber_optic',
       'internetservice=no', 'monthlycharges', 'multiplelines=no',
       'multiplelines=no_phone_service', 'multiplelines=yes',
       'onlinebackup=no', 'onlinebackup=no_internet_service',
       'onlinebackup=yes', 'onlinesecurity=no',
       'onlinesecurity=no_internet_service', 'onlinesecurity=yes',
       'paperlessbilling=no', 'paperlessbilling=yes', 'partner=no',
       'partner=yes', 'paymentmethod=bank_transfer_(automatic)',
       'paymentmethod=credit_card_(automatic)',
       'paymentmethod=electronic_check', 'paymentmethod=mailed_check',
       'phoneservice=no', 'phoneservice=yes', 'seniorcitizen',
       'streamingmovies=no', 'streamingmovies=no_internet_service',
       'streamingmovies=yes', 'streamingtv=no',
       'streamingtv=no_internet_service', 'streamingtv=yes',
       'techsupport=no', 'techsupport=no_internet_service',
       'techsupport=yes', 'tenure', 'totalcharges'], dtype=object)

In [127]:
# The columns mapped to features on top in order
dv.transform(train_dicts)

array([[0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        7.20000e+01, 8.42515e+03],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+01, 1.02155e+03],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        5.00000e+00, 4.13650e+02],
       ...,
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        2.00000e+00, 1.90050e+02],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        2.70000e+01, 7.61950e+02],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        9.00000e+00, 7.51650e+02]], shape=(4225, 45))

In [128]:
# Combination of the method to build 'X_train' 
X_train = dv.fit_transform(train_dicts)

In [129]:
X_train

array([[0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        7.20000e+01, 8.42515e+03],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+01, 1.02155e+03],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        5.00000e+00, 4.13650e+02],
       ...,
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        2.00000e+00, 1.90050e+02],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        2.70000e+01, 7.61950e+02],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        9.00000e+00, 7.51650e+02]], shape=(4225, 45))

In [130]:
X_train.shape

(4225, 45)

In [131]:
val_dicts = df_val[categorical + numerical].to_dict(orient='records')

In [132]:
X_val = dv.transform(val_dicts)

In [133]:
X_val.shape

(1409, 45)